[Desktop Entry]
Categories=Game;StrategyGame;
Comment=Map Editor
Name=ZetaGlest Map Editor
Icon=zetaglest
Exec=zetaglest_editor
Terminal=false
Type=Application
Keywords=map;editor;
